
<% data.forEach(item => { %>
    <% if(item.image) {%>
        <li>
            <a class="wow fadeInUp">
                <img src="<%= item.image %>" alt="">
                <div class="photo-name"><%= item.title %></div>
            </a>
        </li>
    <% } else { %>
        <li>
            <a class="wow fadeInUp">
                <img src="images/person1.jpg" alt="">
                <div class="photo-name">111<%= item.title %></div>
            </a>
        </li>
    <% } %>
<% }) %>
